
:root {
    --cor-primaria: #BF9F67; 
    --cor-secundaria: #3B384F; 
    --cor-texto-claro: #EDEDED;
    --cor-fundo-escuro: #3B384F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cagliostro";
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto-claro);
    
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent; 
    z-index: 1000;
}

.logo {
    font-family: "Cactus Classical Serif";
    font-size: 1.5rem;
    color: var(--cor-primaria);
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: var(--cor-texto-claro);
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--cor-primaria);
}


.banner {
   background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: center 20%; 
    height: 100vh; 
    max-width: 100%;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; 
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

.banner * {
    z-index: 2;
    position: relative;
}

.banner-titulo {
    font-family: "Cactus Classical Serif";
    color: var(--cor-primaria);
    font-size: 80px;
    font-weight: lighter;
}

.banner-subtitulo {
    color: var(--cor-texto-claro);
}

.cta-button {
    margin-top: 20px;
    font-family: "Cactus Classical Serif";
    color: var(--cor-texto-claro);
}





#essencia, .essencia {
    background-color: var(--cor-secundaria); 
    padding: 60px 20px;
    text-align: center;
    color: var(--cor-texto-claro);
}


.essencia h2 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 30px;
    color: var(--cor-primaria);
    font-family: "Cactus Classical Serif";
    padding-top: 20px; 
}


.texto-classico {
    max-width: 500px; 
    margin: 0 auto 40px auto; 
  text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
    opacity: 0.9; 
}

.cta-button {
    display: inline-block;
    padding: 10px 25px;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-claro); 
    font-size: 1rem;
  
    border-radius: 5px;
    transition: filter 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px; 
  ;
}

.cta-button:hover {
    filter: brightness(1.1);
}





/* ------------------------------------- */
/* SEÇÃO DESTAQUES DO MENU */
/* ------------------------------------- */

.destaques {
   
    background-color: var(--cor-secundaria); 
    padding: 60px 20px;
    text-align: center;
    color: var(--cor-texto-claro);
}

.destaques h3 {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 50px; 
    color: var(--cor-texto-claro);
}

.destaques-container {
    display: flex;
    justify-content: center;
    gap: 5px; 
    max-width: 1200px;
    margin: 0 auto;
}

.destaque-item {
    flex: 1; 
    max-width: 300px;
    padding: 10px;
    text-align: center; 
}

.destaque-img {
    width: 200px; 
    max-width: 100%;
    max-height: 700%; 
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.destaque-item h4 {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--cor-texto-claro);
    margin-bottom: 8px;
}

.destaque-item p {
    font-size: 0.9rem;
    line-height: 1.3;
    opacity: 0.8;
    text-align: justify;
    width: 200px;
    padding-left: 30px;
   
}

